.contain{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media (max-width: 1040px) {
    .contain {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 768px) {
    .contain {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    margin: 1.2rem;
    border: 1px solid rgba(255,255,255,.2);
    padding: .6rem;
}

.text{
    color: var(--blanco);
    background: var(--background-card);
    padding: 1rem 0;
    position: relative;
    bottom: 2px;
    font-size: .8rem;
    text-align: center;
}

.lenguaje {
    display: flex;
    justify-content: center;   
}

.lenguaje p {
    padding: 0 .2rem;
    border: 1px solid var(--secundario);
    margin: .2rem;
    padding: .4rem .6rem;
    border-radius: 20px;
    font-size: .8rem;    
   
}


