.contain {
    height: 100vh; 
	display: flex;
	justify-content: right; 
    align-items: center;
}

@media (max-width: 1040px) {
    .contain {
        height: 72vh;
        justify-content: center; 
    }
}

@media(max-width: 768px) {
    .contain {
        height: 100vh;
        justify-content: center; 
    }
}

.container {
    padding-right: 14%;
    text-align: center;
}

@media (max-width: 1040px) {
    .container {
        padding: 0;
    }
}

@media(max-width: 768px) {
    .container {
        padding: 0;
    }
}

.textoContacto {
    max-width: 800px;
    margin: 4rem auto;
}

@media(max-width: 768px) {
    .textoContacto {
        max-width: 400px;
    }
}

.textoContacto p {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

@media(max-width: 768px) {
    .textoContacto p {
        font-size: 1.2rem;
    }
}

.formulario {
    padding: .3rem;
    margin: 0 auto;
}

@media(max-width: 768px) {
    .formulario {
        max-width: 440px;
    }
}


.formulario input, .formulario select {
    margin: auto 1.2rem;
    padding: .6rem;
    border: none;
    background-color: var(--blanco);
    color: var(--titulo);
}

.formulario input {
    min-width: 27rem;
    max-width: 27rem;
}

.formulario textarea {
    margin: auto 1.2rem;
    min-width: 28rem;
    min-height: 11rem;
    background-color: var(--blanco);
    border: none;
}

@media(max-width: 768px) {
    .formulario input {
        min-width: 22rem;
        max-width: 22rem;
    }

    .formulario textarea {
        min-width: 23rem;
    }
}

.submit {
    margin: 1.4rem;
    text-align: center;
}

.submit input {
    width: 28rem;
    padding: .6rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--blanco);
    background-color: var(--secundario);
    border: none;
    transition-property: color;
    transition-duration: .4s;
}

@media(max-width: 768px) {
    .submit input {
        width: 23rem;
        
    }
}

.submit input:hover {
    color: var(--blanco);
    background-color: var(--backgroung-card);
    border: 1px solid var(--secundario);
    cursor: pointer;
} 