@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

:root {
	--background: #323136;
	--background-card: #7f7f7f4d;
	--blanco: #cfcfd1;
	--secundario: #f33974;
	--fuente-principal: 'Montserrat', sans-serif;
}

main {
	width: 90%;
	margin-left: 150px;
    margin-right: 20px;
	box-sizing: border-box;
}

@media (max-width: 1040px) {
	main {
		width: 100%;
		margin: 0;
		box-sizing: border-box;
	}
}

@media(max-width: 768px) {
	main {
		width: 100vw;
		margin: 0;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--fuente-principal);
	font-weight: 300;
	background-color: var(--background);
	color: var(--blanco);
	overflow-x: hidden;
}

.title {
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 400;
	color: var(--blanco);
	text-align: center;
	margin-bottom: 4rem;
}

.title span {
	color: var(--secundario);
}

a {
	text-decoration: none;
	color: var(--blanco);
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 500;
	transition-property: color;
	transition-duration: .3s;
	z-index: 10;
}

li {
	list-style: none;
	font-size: 1.2rem;
	color: var(--blanco);
}

img {
	max-width: 100%;
} 


nav a:hover{
	color: var(--secundario);
}