 .header {
    width: 20vw; 
	position: fixed;
    padding: 4rem;
    height: 100vh;
    border-right: 1px solid rgba(255,255,255,.2);
    text-align: center;
} 

 @media(max-width: 768px) {
    .header {
        position: relative;
        width: 80vw;
        margin: 0 auto 0;
        padding: 1rem 0;
        border-right: none;
    }
} 

.border1, .border2 {
    position: absolute;
    z-index: 1;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 2px;
}

.border1 {
    left: 0;
    bottom: 20px;
    right: 0;
    top: 20px;
}

.border2 {
    left: 20px;
    bottom: 0;
    right: 20px;
    top: 0;
}

.imagen {
    padding: 38px 41px;
    position: relative;
    margin: 4rem 0;
    z-index: 5;
}


.text h2 {
    text-transform: uppercase;
}

.text a {
    text-transform: none;
    font-weight: 300;
    font-size: 1rem;
    color: var(--blanco);
    border-bottom: 1px solid #999;
    line-height: 1.6rem;
}

@media(max-width: 768px) {
    .text a {
        font-size: .9rem;
    }
}

.text a:hover {
    color: aliceblue;
    border-bottom: 1px solid var(--blanco);

}

.typewriter {
font-size: 1.6rem;
text-transform: capitalize;
position: relative;
min-height: 40px;
margin: 0;
}

@media(max-width: 768px){
    .typewriter {
        font-size: 1.3rem;
        }
}

.typewriterSpan::before {
    content: "]";
    right: 0;
}

.typewriterSpan::after {
    content: "[";
    left: 0;
}

.typewriterSpan::after, .typewriterSpan::before {
    color: var(--secundario);
    font-size: 1.8rem;
    font-weight: 400;
    position: absolute;
    animation: opacity 3.35s infinite;
  

}

@media(max-width: 768px) {
    .typewriterSpan::after, .typewriterSpan::before {
        font-size: 1.6rem;
        margin-bottom: .2rem;
    }
}

.links {
    margin-top: 1.4rem;
}

.links a {
    color: var(--secundario);
}


@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

