 .header {
    width: 22%; 
	position: fixed;
    height: 100vh;
    padding: 3rem;
    margin-right: 2rem;    
    border-right: 1px solid rgba(255,255,255,.2);
    text-align: center;
} 

@media (max-width: 1040px) {
    .header {
        position: relative;
        width: 40vw;
        margin: 0 auto 0;
        padding: 1rem 0;
        border-right: none;
    }
}

 @media(max-width: 768px) {
    .header {
        position: relative;
        width: 80vw;
        margin: 0 auto 0;
        padding: 1rem 0;
        border-right: none;
    }
} 

.border1, .border2 {
    position: absolute;
    z-index: 1;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 2px;
}

.border1 {
    left: 0;
    bottom: 14px;
    right: 0;
    top: 14px;
}

.border2 {
    left: 14px;
    bottom: 0;
    right: 14px;
    top: 0;
}

.imagen {
    padding: 40px 28px;
    position: relative;
    margin: 1rem 0;
    z-index: 5;
}

@media(max-width:768px)  {
    .imagen {
        margin: 3rem 0;
    }
}

.text {
    padding: 1rem 0;
}

@media(max-width:768px) {
    .text {
        padding: 0;
    }
}

.text h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 0;
    margin: 1rem 0 1rem;
}

.text a {
    text-transform: none;
    font-weight: 300;
    font-size: 1rem;
    color: var(--blanco);
    border-bottom: 1px solid #999;
    line-height: 1.6rem;
}

@media(max-width: 768px) {
    .text a {
        font-size: .9rem;
    }
}

.text a:hover {
    color: aliceblue;
    border-bottom: 1px solid var(--blanco);

}

.typewriter {
text-transform: capitalize;
position: relative;
min-height: 40px;
margin: 0;
}

.typewriterSpan {
    font-size: 1.4rem;
}

@media(max-width: 768px){
    .typewriter {
        font-size: 1.3rem;
        }
}

.typewriterSpan::before {
    content: "]";
    right: 0;
}

.typewriterSpan::after {
    content: "[";
    left: 0;
}

.typewriterSpan::after, .typewriterSpan::before {
    color: var(--secundario);
    font-size: 1.4rem;
    font-weight: 600;
    position: absolute;
    animation: opacity 3.35s infinite;
  

}

@media(max-width: 768px) {
    .typewriterSpan::after, .typewriterSpan::before {
        font-size: 1.6rem;
    }
}

.links {
    margin-top: 1.4rem;
}

.links a {
    color: var(--secundario);
    font-size: 1.4rem;
    margin: 1rem;
}

.links a:hover{
    opacity: 0.8;
  
}


@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

