.about{
	display: flex;
	justify-content: right; 
    align-items: center;
    height: 90vh;
}

@media (max-width: 1040px){
    .about {
        height: 60vh;
        margin: 4rem auto;
        width: 100%;
    }
}

@media(max-width: 768px) {
    .about {
        height: 120vh;
        margin: 4rem auto;
        justify-content: center;
    }
}

.container{
    padding-right: 14% ;
}

@media (max-width: 1040px) {
    .container {
        padding: 4rem;
    }
}

@media(max-width: 768px) {
    .container {
        padding: 4rem;
    }
}

.title{
    text-transform: uppercase;
    font-size: 2.4rem;
    border-bottom: rgba(255,255,255,.2) .15rem solid;
    width: 80%;
    line-height: 4rem ;
    color: #f0f0f2;
    font-weight: 400;
}

@media(max-width: 768px) {
    .title {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}

.info {
    font-size: 1.3rem;
    max-width: 800px;
    line-height: 1.8rem;
}

@media(max-width: 768px) {
    .info {
        font-size: 1.2rem;
    }
}

.info h3 {
    text-align: center;
    margin: 4rem;
    color: var(--secundario);
}

