.section {
    display: flex;
    justify-content: right; 
}

@media (max-width: 1040px) {
    .section {
        justify-content: center; 
        margin: 0 auto;
    }
}

@media(max-width: 768px) {
    .section {
        justify-content: center; 
        margin: 0 auto;
        border-bottom: 1px solid rgba(255,255,255,.2);
        width: 50vw;
    }
}

.contain {
    padding-right: 4.5%;
    margin: 0 50px;
}

@media (max-width: 1040px) {
    .contain {
        padding: 3rem;
    }
}

@media(max-width: 768px) {
    .contain {
        padding:0 2rem 2rem; 
    }
}

.content {
    text-align: center;
    margin-top: 2rem;
}

.content a {
    color: var(--secundario)
}