.skills {
    height: 100vh;
    display: flex;
    justify-content: right; 
    align-items: center;   
}

@media (max-width: 1040px) {
    .skills {
        margin: auto;
        justify-content: center;
        width: 60%;
    }
}

@media(max-width: 768px) {
    .skills {
        border-top: 1px solid rgba(255,255,255,.2);
        border-bottom: 1px solid rgba(255,255,255,.2);
        width: 50vw;
        height: 180vh;
        margin: auto;
        justify-content: center;
        margin-bottom: 4rem;
    }
}

.container {
    padding-right: 12%;
}

@media (max-width: 1040px) {
    .container {
        padding-right: 0;
    }
}

@media(max-width: 768px) {
    .container {
        padding: 2rem;
    }
}

.card {
    display: flex;
}

@media(max-width:768px) {
    .card {
        flex-direction: column;
    }   
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto 6rem;
    min-height: 700px;
}

@media (max-width: 1040px)  {
    .contenedor {
        margin:0 auto;
        min-width: 400px;
    }  
}

@media(max-width:768px) {
    .contenedor {
        margin-bottom: 1rem;
    }   
}

.content {
    margin-top: 2rem;
    min-width: 300px;
}

@media (max-width: 1040px) {
    .content {
        /* min-width: 300px; */
        text-align: center;
}
}

@media(max-width: 768px) {
    .content {
        /* min-width: 300px; */
        text-align: center;
    }
}

.title {
    text-transform: uppercase;
    font-weight: 500;
}

.text {
    padding: 0;
    text-align: center;
    line-height: 2.6rem;
    min-height: 300px;
}

.content {
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.hard {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.icon {
    font-size: 2.4rem;    
    margin: 1rem 0.6rem;
    position: relative;
}

.hard p{
    position: absolute;
    opacity: 0;
    padding-top: 2.8rem;
}

.hard p:hover{
   z-index: 10;
   color: var(--secundario);
   opacity: 100;
   font-weight: 400;
   font-size: .8rem;
}




